<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		Rush Hour
	</title>

	<!-- JQuery CDN -->
	<script src="https://code.jquery.com/jquery.js"></script>

	<!-- Bootstrap CDN -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- jQuery Backstretch CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>

	<!-- Link to Eric Meyer's Reset CSS -->
	<link rel="stylesheet" type="text/css" href="/public/css/reset.css">

	<!-- Link to Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">

	<!-- Google Fonts: Open Sans -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	<!-- Google Fonts: Just Another Hand -->
	<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">

</head>

<body>

<h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>

<!-- Bootstrap Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand nav-text" href="#">Rush Hour</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right shadow">
        <li>
        	<a class="nav-login" href="/">Logout</a>
        </li>
	  </ul>
    </div>
  </div>
</nav>

<div class="container view">

	<div class="row">



		<div class="col-lg-2">
			<div class="panel panel-default">

				<div class="panel-heading">
					<p> Menu </p>
				</div>
		  		<div class="panel-body">
		  			<ul>
		  				<li><a href="#"> Schedule </a></li>
		  				<li><a href="#"> Employees </a></li>
		  				<li><a href="#"> Logout </a></li>
		  			</ul>
		  		</div>
			</div> 
	 	</div> <!-- first col close div -->


		<div class="col-lg-10">
  			<ul>
  				<li> Calendar View </li>
  			</ul>
	 	</div> <!-- first col close div -->

  	</div> <!-- Row close div -->
</div><!-- Container close div -->
  
<!--   <div class="panel-footer">Panel footer</div> -->



	<!-- Link to landing.js -->
	<script type="text/javascript" src="js/dashboard.js"></script>

	<!-- jQuery Backstretch CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
	

</body>
</html>